<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Conversational AI Tests">
   <listeners>
			<listener class-name="com.test.register.ReportListener"></listener>
		</listeners>
    <test name="interview">
         <classes>
             <class name="com.test.register.TestRegisterExcelExtent"/>
         </classes>
      
     </test> <!-- Test -->
</suite> <!-- Suite -->
